body {
    background-image: url("../assets/images/fondoAzul.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-attachment: fixed;
    
  }
  
  h1 {
    text-align: center;
    color: #f6f6f6;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }